:root {
    --bg-black:#0f0f0f;
    --white:#f8f8f8;
    --bg-gray: #272727;
    --bg-light-gray: rgba(39,43,45,0.43);
    --bg-violet:rgba(104, 8, 238,1);
    --mobile-box-shadow: rgba(250, 250, 255, 0.16) 4px 0px 6px 0px inset, rgba(38, 37, 37, 0.24) 0px 0px 0px 0px inset;
}