/* Container for the ColoanPage */
.co-loan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; /* Change height to min-height */
  background-color: var(--bg-black);
  color: var(--white);
  text-align: center;
}

/* Left side with buttons */
.co-loan-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-black);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--white);
}

.co-loan-button {
  width: 313px;
  height: 299px;
  flex-shrink: 0;
  border-radius: 29px;
  background: linear-gradient(180deg, #6A00FF 0%, rgba(106, 0, 255, 0.00) 100%);
  box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold; /* Improved font weight */
  font-size: 24px; /* Reduced font size */
  font-family: "Gilroy", sans-serif; /* Specify a generic font family */
  text-align: center; /* Center text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--white);
}

.co-loan-button svg {
  fill: white; /* Set the fill color to white */
}

.co-loan-button:hover {
  background-color: #4a0080;
  transform: scale(1.05); /* Add a slight scale effect on hover */
}

.co-loan-buttons .selected {
  background-color: #4a0080;
}

/* Right side with content */
.co-loan-welcome {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  text-align: center;
  max-height: 70vh;
  overflow-y: auto;
}

.co-loan-welcome h1 {
  font-size: 28px; /* Increased font size */
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; /* Add some spacing below the heading */
}

.contact-details h2 {
  font-size: 20px;
  font-weight: bold;
  color: #6A00FF;
  margin-top: 0; /* Remove default top margin */
}

.contact-details p {
  font-size: 16px;
  color: #333;
}

/* Styling for pay money button */
.pay-money-button {
  background-color: #6A00FF;
  color: #fff;
  padding: 12px 24px;
  border: none;
  height: 80px;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Slightly increased font size */
  transition: background-color 0.3s ease;
}

.pay-money-button:hover {
  background-color: #4a0080;
}

/* Styling for the "Pay by Phone Number" section */
.pay-by-phone {
  text-align: left;
}

.pay-by-phone label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
  display: block;
  align-items: center;
}

.pay-by-phone input[type="text"],
.pay-by-phone input[type="number"] {
  width: 100%;
  padding: 12px; /* Increased padding */
  margin-bottom: 16px;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 4px;
  font-size: 16px;
}

.add-users-button {
  background-color: #6A00FF;
  color: var(--bg-black);
  height: 100px;
  width: 100px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.add-users-button:hover {
  background-color: #4a0080;
}

.user-input-row {
  display: flex;
  color: #333;
  align-items: center;
  margin-bottom: 10px;
}

.user-input {
  flex: 1;
  color: #333;
  margin-right: 10px;
}

button{
  color: var(--bg-black);
  font-weight: 700;
  height: 50px;
  width: 100px;
  background-color: #fff;
  border-radius: 20px;
}
/* CSS classes for the right side image and global loan form */
.co-loan-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pay-by-phone input[type="text"],
.pay-by-phone input[type="number"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 4px;
  font-size: 16px;
}
.pay-by-phone{
  margin-right: 150px;
}

