.co-loan-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh; /* Change height to min-height */
  background-color: var(--bg-black);
}

/* Left side with buttons */
.co-loan-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-black);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.co-loan-button {
  width: 313px;
  height: 299px;
  flex-shrink: 0;
  border-radius: 29px;
  background: linear-gradient(180deg, #6A00FF 0%, rgba(106, 0, 255, 0.00) 100%);
  box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
  font-weight: bold; /* Improved font weight */
  font-size: 24px; /* Reduced font size */
  font-family: "Gilroy", sans-serif; /* Specify a generic font family */
  color: #ccc;
  text-align: center; /* Center text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.co-loan-button:hover {
  background-color: #4a0080;
  transform: scale(1.05); /* Add a slight scale effect on hover */
}

.co-loan-buttons .selected {
  background-color: #4a0080;
}
  
.co-loan-welcome {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Welcome image or content */
.co-loan-welcome img {
  max-width: 100%;
  height: auto;
}
/* CoLoanPage.css */

/* Container for the entire CoLoanPage */
.co-loan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #080707;
  min-height: 100vh;
}

/* Welcome message and "Request Loan" button */
.co-loan-welcome {
  text-align: center;
  margin-bottom: 20px;
}

/* "Request Loan" button */
.co-loan-welcome button {
  background-color: #6A00FF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.co-loan-welcome button:hover {
  background-color: #4B0082;
}

/* Loan request cards */
.co-loan-dashboard {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  justify-content: center;
}

/* Individual loan card */
.loan-card {
  width: 300px;
  background-color: #0e0d0d;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

/* Card content */
.card-content {
  flex-grow: 1;
}

/* Loan button */
.loan-card button {
  margin-top: 10px;
  background-color: #6A00FF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.loan-card button:hover {
  background-color: #4B0082;
}
